.formResume{
    /* display: flex;
    flex-direction: column; */
    
    /* background-color: rgb(255, 255, 255); */
    /* height: 90vh; */
    
}
.containerSentBtn{
    display: flex;
    justify-content: space-between;
}
