/* BudgetTracker.css */
body{
  margin: 0;
  background-color: #d5d3d3;
}
.income{
  color: #57cf5d;
}
.outcome{
  color: #ee221e;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }

  .budgetContainer{
    display: flex;
    flex-wrap: wrap;
  }

  .formInput {
    margin-bottom: 10px;
    padding: 12px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .formInput:focus {
    border-color: #4caf50;
  }
  
  .label {
    margin-right: 10px;
    color: #333;
  }
  
  .select {
    margin-bottom: 10px;
    padding: 12px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .select:focus {
    border-color: #4caf50;
  }
  
  .button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .budgetCard {
    /* flex: 0 0 calc(33.33% - 20px); */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    font-size: 16px;
  }
  .remove{
    background-color: #ee221e;
    padding: 15px;
  }

.buttonToShowForm {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 15px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer on hover */
  border-radius: 8px;
  width: 30vw;
  transition: 0.3s;
}
.hideForm{
  background-color: #ee240d; /* Green background color */
  color: white; /* White text color */
  padding: 10px 15px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer on hover */
  border-radius: 8px;
  width: 30vw;
  transition: 0.3s;
}
.hideForm:hover{
  background-color: #dc2915; 
}

/* Add hover effect for the button */
.buttonToShowForm:hover {
  background-color: #45a049; /* Darker green on hover */
}

@media only screen and(max-width:600px){
  .budgetCard{
      flex: none;
      width: 50vw;
  }
}