:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  background-color: #d2e2e3;
  height: 100vh;
  margin: 0;
}


.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  align-items: center;
  /* border-bottom: solid #827f7f; */
  background-color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px;

}

.nav-link:hover {
  background-color: #44b1b4;
  transition: 0.3s;
  color: white;
}

.active {
  color: #ffffff;
  background-color: #44b1b4;
  font-weight: 600;
  transition: 0.3s;
}

.containerLogUser:hover .logoutBtnDiv,
.UserHello:hover+.logoutBtnDiv {
  display: block;
  position: absolute;
}

.UserHello {
  color: #44b1b4;
  font-weight: 600;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.UserHello:hover {
  background-color: #44b1b4;
  color: #000;
  transition: 1s;
}

.logoutBtnDiv {
  display: none;
  background-color: #ffffff;
  padding: 15px;
  width: auto;
  border-radius: 8px;
}

.logoutBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logoutBtn:hover {
  background-color: #43d790;
}

.form-container {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}

.forTemplate {
  margin: 0;
  padding: 0;
  width: 99.9%;
}

.titlesContainer {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  border-bottom: solid #3e3c3c;
}

.mainTtileTemplate {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(30, 32, 33);
}

.secondtitleTemplate {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(150, 155, 158);
}

.containerTemplateSingle {
  background-color: rgb(248, 249, 250);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
}

.radio-options {
  display: flex;
  gap: 10px;
}

.work-experience-form {
  margin-top: 10px;
}


.textarea{
  height: 10vh;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
@media only screen and (max-width: 768px){
  .form-input, .form-textarea{
    font-size: 12px;
  }
}
.goLogIn {
  margin-top: 10px;
}

.goSeeItLink {
  text-decoration: none;
}

.goSeeItBtn {
  width: max-content;
  background-color: #af4c9d;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1) translateY(0);
  animation: growAndMove 0.5s infinite alternate;
  /* Adjust the duration and other values as needed */
}

.btnContainer {
  margin-top: 5px;
  display: flex;
  /* justify-content: space-between; */
}

@keyframes growAndMove {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1.1) translateY(-5px);
  }
}

.form-btn {
  display: inline;
  width: max-content;
  background-color: #44b1b4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: 1s;
}

.form-btn:hover {
  background-color: #16696c;

}

.submitBtn {
  background-color: #258015;
}

.submitBtn:hover {
  background-color: #6db860;
}

.radio-options {
  display: flex;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.work-experience-form {
  margin-top: 10px;
}

.add {
  margin-bottom: 5px;
  background-color: #258015;
}

.lgin-signup {
  cursor: pointer;
  color: #2dc208;
}

.lgin-signup:hover {
  text-decoration: underline;
}

.containerAuth {
  height: 76vh;
}
@media only screen and (max-width: 768px) {
  .containerAuth{
    /* height: 84vh; */
  }
}

.logInDiv,
.signUpDiv {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleSignUp {
  text-align: center;
  color: #333;
}

.AuthDiv {
  display: flex;
  flex-direction: column;
}

.signUpInput,
.logInInput {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btnSubmit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: #45a049;
}

.btnSubmit {
  width: 100%;
}

/* Additional styling for better responsiveness */
@media (max-width: 600px) {

  .logInDiv,
  .signUpDiv {
    width: 80%;
  }
}

.secondTitle {
  color: #888383;
  margin: 10px 0 30px 0;
  font-size: 12px;
}

.forBreak {
  display: block;
}

.dateInput {
  display: flex;
  gap: 30px;
}

.ExampleWork,
.addAnother,
.Delete {
  color: rgb(68, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border: solid 0.5px #16696c;
  margin: 0 0 10px 0;
}

.addAnother {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.Delete {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(225, 28, 28);
}

.Delete:hover {
  background-color: rgb(235, 79, 79);
  color: #000;
}

.addAnother:hover {
  background-color: #939ba3;
  box-shadow: inset;
}

.wordExample {
  color: white;
  display: inline-block;
  background-color: rgb(38, 160, 244);
  border-radius: 3px;
  padding: 4px 8px;
  font-family: Roboto, sans;
  font-size: 12px;
}

.secondLine {
  margin-top: 3px;
  color: grey;
}

.containerResume {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  height: 76vh;
}
@media only screen and (max-width: 768px) {
  .containerResume{
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}

.resumeCard,
.resumeCardBig {
  background-color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 20px;
  color: #aeafb0;
  height: 65vh;
  width: 25vw;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.resumeCard {
  /* opacity: 50%; */
}

.resumeCardBig {
  width: 50vw;
  height: 110vh;
  font-size: 18px;
}
@media only screen and (max-width: 768px){
  .resumeCardBig{
    width: fit-content;
  }
}

.resumeCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
}


ul {
  padding: 0;
}

.blackTitle {
  color: rgb(0, 0, 0);
}

.nameTitle {
  font-size: 8px;
}



h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  color: #333;
  font-size: 48px;
}

h2 {
  color: #555;
}

h3 {
  color: #007bff;
  font-size: 28px;
}
@media only screen and (max-width: 768px){
  h1{
    font-size: 18px;;
  }
  h3 {
    font-size: 15px;
  }
  
}

h4 {
  color: #555;
}

.secondLine {
  color: #777;
}

.smallCard,
.smallCardRealy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* padding: 20px 3px 20px 0; */
}
.educationDetails{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.smallCardRealy {
  display: block;
  margin: 0;
  padding: 3px;
  color: #000;
}
.smallCardRealy h3{
  color: black;
  font-size: 15px;
}
#aboutMeH3{
  color: #000;
}

@media only screen and (max-width: 768px) {
  .smallCardRealy p{
    font-size: 8px;
  }
}
.smallCardJobs {
  /* padding: 20px 3px 20px 0; */
  margin-bottom: 10px;
}

.smallCardJobsReally {
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* padding: 3px; */
}

.containerFirstPargraph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 0.1px #000;
  margin-bottom: 5px;
}


.cardTitle {
  color: #524e4e;
  font-weight: 800;
}

.cardContent {
  color: #000000;
  margin: 15px 0 15px 0;
}

.cardContent {
  margin: 0;
}

.cardDescription {
  color: #000000;
}

.jobCard {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .resumeCard {
    max-width: 100%;
  }
  .date{
    font-size: 7px;
    color: black;
    align-self: flex-end;
  }
}



/* .AboutMe {
  margin: 50px 0 15px 0;
} */

.containerAllPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.BackBtn {
  display: inline;
  width: max-content;
  background-color: #44b1b4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  transition: 1s;
}

.btnResume {
  width: fit-content;
  padding: 10px 15px;
  margin: 0;
}

.btnResumeHover:hover {
  transition: 0.5s;
  color: #000;
}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px){
  .intro-text h1{
    font-size: 8px;
    border-bottom: white solid 1px;
  }
}

.intro-text h3 {
  margin-bottom: 0.5rem;
}

.hero p {
  line-height: var(--line-height);
  color: #ffffff;
}

.listOptions {
  color: #fff;
}

li {
  padding: 5px;

}

.hear {
  color: rgb(255, 255, 255);
  font-size: 56px;
}

@media only screen and (max-width: 768px){
  .hear{
    font-size: 25px;
  }
  li{
    font-size: 14px;
  }
}

.connecting {
  color: var(--secondary-color);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1100px;
  padding-top: 10vh;
  margin: 0 auto -6rem;
  background-color: #113853;
}

.containerHero {
  background-color: #113853;
  padding-bottom: 10vh;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #fff;
}

.red {
  background-color: #fc676a;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  width: fit-content;
}

.red:hover {
  background-color: #f1262d;
  color: #fff;
}

.blue {
  background-color: var(--primary-color);
}

.blue:hover {
  background-color: #095cf7;
  color: #fff;
}

iframe {
  max-width: 30rem;
  border-top: 40px groove var(--primary-color);
  border-bottom: 40px groove var(--primary-color);
  border-right: 28px solid var(--secondary-color);
  border-left: 28px solid var(--secondary-color);
}

.stand-1 {
  height: 90px;
  width: 6px;
  background-color: var(--primary-color);
  transform: rotate(40deg);
  position: relative;
  top: -16px;
  left: 200px;
}

.stand-2 {
  height: 90px;
  width: 6px;
  background-color: var(--secondary-color);
  transform: rotate(-40deg);
  position: relative;
  top: -105px;
  left: 255px;
}

.containerPageAbout {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerSteps {
  padding-top: 5vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.containerSteps h1 {
  text-align: center;
  color: #113853;
}

.steps {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.steps h3 {
  color: #2d3235;
  font-size: 25px;
  color: #113853;
}
@media only screen and (max-width: 768px){
  .steps h3{
    font-size: 18px;
  }
}
.steps img {
  width: 8vw;
  height: 16vh;
}

.step1,
.step2,
.step3 {
  width: 20vw;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.BuiltResume {
  text-align: center;
  margin-bottom: 5vh;
}

.footer {
  background-color: #000;
  color: #ffffff;
  height: 15vh;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 14px;
    height: 7vh;
  }
  .footerUserResume, .footerAuth{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}