/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
}

body {
  background-color: #d2e2e3;
  height: 100vh;
  margin: 0;
}


.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid #827f7f;
  background-color: #fff;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 10px;

}

.nav-link:hover {
  background-color: #44b1b4;
  transition: 1s;
}

.active {
  color: #000000;
  background-color: #44b1b4;
  font-weight: 600;
  transition: 1s;
}

.containerLogUser:hover .logoutBtnDiv,
.UserHello:hover+.logoutBtnDiv {
  display: block;
  position: absolute;
}

.UserHello {
  color: #44b1b4;
  font-weight: 600;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.UserHello:hover {
  background-color: #44b1b4;
  color: #000;
  transition: 1s;
}

.logoutBtnDiv {
  display: none;
  background-color: #ffffff;
  padding: 15px;
  width: auto;
  border-radius: 8px;
}

.logoutBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logoutBtn:hover {
  background-color: #43d790;
}

.form-container {
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-options {
  display: flex;
  gap: 10px;
}

.work-experience-form {
  margin-top: 10px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.goLogIn{
  margin-top: 10px;
}
.goSeeItLink{
  text-decoration: none;
}
.goSeeItBtn {
  width: max-content;
  background-color: #af4c9d;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1) translateY(0);
  animation: growAndMove 0.5s infinite alternate; /* Adjust the duration and other values as needed */
}
.btnContainer{
  margin-top: 5px;
  display: flex;
  /* justify-content: space-between; */
}
@keyframes growAndMove {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1.1) translateY(-5px);
  }
}
.form-btn {
  display: inline;
  width: max-content;
  background-color: #44b1b4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  margin-right: 5px;
  transition: 1s;
}

.form-btn:hover {
  background-color: #16696c;
 
}
.submitBtn{
  background-color: #258015;
}
.submitBtn:hover{
  background-color: #6db860;
}
.radio-options {
  display: flex;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.work-experience-form {
  margin-top: 10px;
}
.add{
  margin-bottom: 5px;
  background-color: #258015;
}
.lgin-signup{
  cursor: pointer;
  color: #2dc208;
}
.lgin-signup:hover{
  text-decoration: underline;
}
.containerAuth{}
.logInDiv,
.signUpDiv {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleSignUp {
  text-align: center;
  color: #333;
}

.AuthDiv {
  display: flex;
  flex-direction: column;
}

.signUpInput, .logInInput {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btnSubmit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: #45a049;
}

.btnSubmit {
  width: 100%;
}

/* Additional styling for better responsiveness */
@media (max-width: 600px) {
  .logInDiv,
  .signUpDiv {
    width: 100%;
  }
}
.secondTitle{
  color: #888383;
  margin: 10px 0 30px 0;
}
.forBreak{
  display: block;
}
.dateInput{
  display: flex;
  gap: 30px;
}
.ExampleWork ,.addAnother, .Delete{
  color: rgb(68, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border: solid 0.5px #16696c;
  margin: 0 0 10px 0;
}
.addAnother{
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.Delete{
  color: rgb(219, 211, 211);
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(225, 28, 28);
}
.Delete:hover{
  background-color: rgb(235, 79, 79);
  color: #000;
}
.addAnother:hover{
  background-color: #939ba3;
  box-shadow: inset;
}
.wordExample{
    color: white;
    /* line-height: 16px; */
    display: inline-block;
    background-color: rgb(38, 160, 244);
    border-radius: 3px;
    padding: 4px 8px;
    font-family: Roboto, sans;
    font-size: 12px;
}
.secondLine{
  margin-top: 3px;
  color: grey;
}