*{
    margin: 0;
}
body{
    background-color: #d5d3d3;
}
nav {
    background-color: #f4f4f4; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
  
  nav a {
    color: #736f6f; 
    text-decoration: none;
    margin: 0 15px; 
    font-size: 16px;
    transition: color 0.3s ease-in-out; 
  }
  
  nav a:hover{
    color: #3700ff; 
    text-decoration:solid 3700ff;
  }
  .active{
    color: #000000;
  }
  a{
    text-decoration: none;
   }
  .userBtn{
    background-color: #9f9e9e;
    color: #000;
    padding: 5px;
    margin-right: 5vw;
  }
  .userBtn:hover{
    background-color: #ffffff;
  }
  .containerUserBtn:hover .divForSignOut,
  .userBtn:hover + .divForSignOut{
    display: block;
    position: absolute;
    
  }
  .divForSignOut{
    display: none;
    background-color: #ffffff;
    padding: 15px;
    width:auto
  } 
  .to-sign-out{
    cursor: pointer;
  }
