*{
    margin: 0;
}
body{
    background-color: #d5d3d3;
}
nav {
    background-color: #4020df; 
    padding: 15px;
    text-align: center; 
  }
  
  nav a {
    color: #fff; 
    text-decoration: none;
    margin: 0 15px; 
    font-size: 16px;
    transition: color 0.3s ease-in-out; 
  }
  
  nav a:hover{
    color: #FFD700; 
  }
  .active{
    color: #000000;
  }
  a{
    text-decoration: none;
  }